body {
    max-width: 40em;
    margin-left: 20%;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    font-size: large;
    line-height: 1.8em;
    padding-bottom: 2em;
}

h1, h2, h3 {
  font-family: sohne, sans-serif;
  font-weight: normal;
  color: #000000;
}

h3 {
  text-decoration: underline;
}

h4 {
  margin: 0px;
}

img {
  max-width: 40em;
  display: block;
  margin: auto;
}

a {
  color: #FF7700;
  font-weight: bold;
}

a:link, a:visited {
  color: #189ad3;
  text-decoration: none;
  border-bottom: none;
  font-weight: normal;
}

.projectDate {
  float: right;
}

.projectPic {
  max-width: 60%;
  padding: 10px;
}

.tableRow {
  display: table-row;
}

section#sidebar {
  display: table-cell;
  vertical-align: top;
}

nav {
  padding-right: 30px;
  position: sticky;
  top: 10px;
}

nav a{
    display: block;
}

section#main {
  display:table-cell;
}

section.project {
  margin-bottom: 1.5em;
  padding:20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

section.datedRow p {
  display:table-cell;
  padding:5px;
  width: 40em;
}

section.datedRow .tableRow p:nth-child(2) {
  text-align:right;
  width: 7em;
}

.strikethrough {
  text-decoration: line-through;
}

span.verse {
  font-style: italic;
}

span.heading {
  font-weight: bold;
}

ol.roman {
  list-style-type: lower-roman;
}
