body {
  margin-left: 20%;
  max-width: 40em;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  font-size: large;
  line-height: 1.8em;
  padding-bottom: 2em;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

h1,
h2,
h3 {
  font-family: sohne, sans-serif;
  font-weight: normal;
  color: #000000;
}

h3.separator {
  text-decoration: underline;
}

h4 {
  margin: 0px;
}

img,
iframe {
  max-width: 40em;
  display: block;
  margin: auto;
}

img.medium {
  max-width: 30em;
}

a {
  color: #FF7700;
  font-weight: bold;
}

a:link,
a:visited {
  color: #189ad3;
  text-decoration: none;
  border-bottom: none;
  font-weight: normal;
}

.projectDate {
  float: right;
}

.projectPic {
  max-width: 60%;
  padding: 10px;
}

nav#sidebar {
  padding-right: 30px;
  margin-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  align-self: flex-start;
}

nav a {
  display: block;
  font-size: large;
}

section.project {
  margin-bottom: 1.5em;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

section.datedRow p {
  padding: 5px;
  width: 40em;
}

section.datedRow {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.strikethrough {
  text-decoration: line-through;
}

span.verse {
  font-style: italic;
}

span.heading {
  font-weight: bold;
}

span.date {
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

ol.roman {
  list-style-type: lower-roman;
}

blockquote,
q {
  font-style: italic;
}

q::before {
  content: "'";
}

q::after {
  content: "'";
}

span.separator {
  color: rgba(0, 0, 0, 0.5);
}

div.caption {
  width: 100%;
  text-align: center;
  font-size: 80%;
  opacity: 60%;
  line-height: 1.2em;
  margin-top: 5px;
}

@media screen and (max-width: 1080px) {
  body {
    margin-left: 5%;
    max-width: none;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  nav#sidebar {
    position: static;
  }

  nav a {
    display: inline;
    padding: 0.25em;
  }

  img,
  iframe {
    max-width: 100%;
  }

  section.datedRow {
    display: flex;
    flex-direction: column;
  }

  .datedRow .date {
    margin-bottom: 0.75em;
  }

}