{% extends "base.html" %}
{% block main %}
<img id="profilePic" src="{{ base_path }}/{{ profile_image }}" alt="{{ profile_alt }}" />
<h3 class="separator">The last few updates</h3>
{% for item in updates %}
<section class="datedRow">
  <div class="link">
    <a href="{{ base_path }}/{{ item.href }}">{{ item.text }}</a>
  </div>
  <div class="date">{{ item.date }}</div>
</section>
{% endfor %}
<h3 class="separator">What I am doing now</h3>
{% for section in sections %}
<h4>{{ section.title }}</h4>
{{ section.content_html | safe }}
{% endfor %}
<hr />
Updated on {{ updated }}.
{% endblock %}
