{% extends "base.html" %}
{% block main %}
  <h3 class="separator">Daily Blog</h3>
  <p>
    {{ daily_blog.text }}
    <a href="{{ daily_blog.url }}">here</a>.
  </p>

  {% if older_blogs %}
    <h3 class="separator">Older blogs</h3>
    {% for blog in older_blogs %}
      <p>
        {{ blog.text }}
        <a href="{{ blog.url }}">here</a>.
      </p>
    {% endfor %}
  {% endif %}

  {% for section in sections %}
    <h3 class="separator">{{ section["title"] }}</h3>
    {% for item in section["items"] %}
      <section class="datedRow">
        <div class="link">
          <a href="{{ item["href"] }}">{{ item["title"] }}</a>
        </div>
        {% if item.get("date") %}<div class="date">{{ item["date"] }}</div>{% endif %}
      </section>
    {% endfor %}
  {% endfor %}
{% endblock %}

